.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-bottom: 50px;

  @include mediaTablet {
    grid-template-columns: 1fr;
  }

  &__btn {
    font-size: 31px;
    font-weight: 500;
    line-height: 0.9;
    text-align: center;
    border-radius: 21px;
    background: var(--Border, #1b2147);
    padding: 35px 0;
    position: relative;

    @include mid {
      font-size: 31px;
    }
    @include mid {
      font-size: 21px;
    }

    img {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
